<div class="relative w-full h-screen">
  <ng-container *ngIf="videoUrl; else showPoster">
    <iframe
      class="absolute w-full h-full top-0 left-0 z-0"
      [src]="videoUrl"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
      allowfullscreen
    >
    </iframe>
  </ng-container>

  <ng-template #showPoster>
    <img
      *ngIf="selectedMovie?.backdrop_path"
      [src]="
        'https://image.tmdb.org/t/p/original' + selectedMovie.backdrop_path
      "
      class="absolute w-full h-full object-cover z-0"
      alt="{{ selectedMovie.title }} backdrop"
    />
  </ng-template>

  <div
    class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black opacity-80 z-0"
  ></div>

  <div
    *ngIf="selectedMovie"
    class="absolute bottom-20 left-16 text-white z-10 max-w-lg"
  >
    <h1 class="text-4xl font-bold">{{ selectedMovie.title }}</h1>
    <p class="text-lg py-4">{{ selectedMovie.overview }}</p>
  </div>
</div>
